.profile-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-form{
    display: flex;
    flex-direction: column;
}