.listing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listing-image {
    height: 150px;
    width: auto;
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    outline: none;
    font-family: "Inknut Antiqua", sans-serif;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
}

.close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.styled-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.form-group {
    display: flex;
    align-items: top;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
}

.form-label {
    font-weight: bold;
    min-width: 150px; 
    text-align: left;
}

input[type="text"],
input[type="number"],
textarea,
.file-input,
select {
    width: 100%; 
    padding: 10px; 
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    text-align: left;
    font-family: inherit;
}

input::placeholder,
textarea::placeholder {
    font-family: inherit; 
    color: #888; 
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.submit-button {
    padding: 5px 15px;
    background-color: #ccc;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    font-family: inherit; 
    font-weight: bold;
}

.submit-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
