.listing-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listing-image{
    height: 150px;
    width: auto;
}

.modal-content h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-content form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh
}