.password-reset-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.password-reset-form{
    display: flex;
    flex-direction: column;
}